:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --office-green: #036d19ff;
  --snow: #fcf7f8ff;
  --jet: #2d2e2eff;
  --red-cmyk: #ed1c24ff;
  --fulvous: #e8871eff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
}

main{
  width: 100%;
  height: 100%;
  background-color: var(--jet);
  display: flex;
  justify-content: center;
}

form{
  width: auto;
  padding: 2rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--office-green);
}